.card-title {
    color: #f0168e;
    text-transform: uppercase;
}

.card-text {
    text-align: justify;
}

@media screen and (max-width: 768px) {
  .card-hist {
    max-height: 500px;
    overflow-y: scroll;
  }

  .card.card-hist.card-body p.card-text {
    overflow-y: scroll;
    max-height: 400px !important;
  }
}
