
//02FFFC
.custom-btn {
    margin: 4px;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 110%;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 10px 0px rgba(0,0,0,.7),
     4px 4px 5px 0px rgba(0,0,0,.7);
    outline: none;
  }

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #fff;
    background: linear-gradient(0deg, #6e0b42 0%, #f0168e 100%);
  }
  .btn-5:hover {
    color: #02FFFC;
    background: linear-gradient(0deg, #000 0%, #444 100%);
    box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #fff;
    box-shadow:
     -1px -1px 5px 0px #02FFFC,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  div.columna-logo {
    display: flex;
    justify-content: center;
  }

  div.menu-anuncios {
    float: right;
    margin-right: 25%;
    width: 100% !important;
  }

  @media screen and (max-width: 768px) {
    div.columna-logo {
      display: flex;
      justify-content: center;
    }

    div.menu-anuncios {
      float: none;
      margin-right: 0%;
      width: 100% !important;
    }

    a.logo-menu {
      float: none;
      margin-left: 0%;
    }
}
