/* You can add global styles to this file, and also import other style files */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/luna-pink/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~@sweetalert2/theme-dark/dark.scss';

body {
    background: #000000 !important;
    font-family: 'Heebo', sans-serif !important;
}

.container{
    overflow: hidden;
}

.swal2-popup {
    background: #222 !important;
}

.swal2-title{
    font-family: 'Heebo', sans-serif !important;
    color: #fff !important;
}

.swal2-content{
    color: #b2b2b2 !important;
    text-align: center !important;
  }


div .titulo {
    background: 50% 100% / 50% 50% no-repeat
                radial-gradient(ellipse at bottom, #FC01A0, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Fjalla One', sans-serif !important;
    font-size: 80px;
    animation: reveal 3000ms ease-in-out forwards 200ms,
                glow 2500ms linear infinite 2000ms;

    @keyframes reveal {
        80%{
        letter-spacing: 8px;
        }
        100% {
        background-size: 300% 300%;
        }
    }
    @keyframes glow {
        40% {
        text-shadow: 0 0 8px white;
        }
    }
}

@media screen and (max-width: 768px) {
  div .titulo {
    font-size: 12vw;
  }
}

h1.titulo-admin {
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif !important;
    font-weight: bolder;
  }
