
<ng-container *ngIf="show">
    <ng-container *ngIf="!verShow">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url({{show.imagen}});">
                    <span class="login100-form-title-1">
                        {{show.nombre}}
                    </span>
                </div>

                <form class="login100-form validate-form">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Campo obligatorio">
                        <span class="label-input100">Email</span>
                        <input class="input100" type="text" [(ngModel)]="model.email" name="email" placeholder="Ingrese email">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate = "Campo obligatorio">
                        <span class="label-input100">Código</span>
                        <input class="input100" type="text" [(ngModel)]="model.codigo" name="codigo" placeholder="Ingrese código recibido en el mail">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="mt-4 container-login100-form-btn">
                        <button class="login100-form-btn" (click)="verificarEntrada()">
                            Entrar al show
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="verShow">
        <div class="container-login100 d-flex justify-content-center">
            <div id="rectangle"></div>
            <iframe class="video" [src]="show.link + '?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1' | safe" allowtransparency  width="560" height="315" frameborder="0" scrolling="no" id="iframe"></iframe>
        </div>
    </ng-container>
</ng-container>    




    <!-- <div class="d-flex justify-content-center">
        <div id="rectangle"></div>
        <div class="embed-responsive embed-responsive-16by9">
                <iframe id="iframeId"
                src="https://www.youtube.com/embed/Fm07HWgKT1A?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                allowtransparency
                ></iframe>
        </div>
    </div> -->
