<app-menu-web></app-menu-web>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="titulo">
            GALERIA
        </div>
    </div> <br>
    <ng-container *ngIf="!selectedAlbum; else detalleAlbum">
      <div class="row">
          <div class="col-md-4 col-sm-12 mb-2 d-flex justify-content-center" *ngFor="let album of albums">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../../../assets/img/galeria/{{album.imagenes[0]}}" style="max-height: 150px; object-fit: contain;" alt="Card image cap">
                  <div class="card-body">
                    <h5 style="text-align: center;"><strong>{{album.titulo}}</strong></h5>
                    <p class="card-text" style="text-align: justify;">{{album.descripcion}}</p>
                      <div class="d-flex justify-content-center">
                          <button class="btn btn-sm btn-dark" style="background-color: #f0168e;" (click)="selectAlbum(album)">Ver fotos</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </ng-container>
    <ng-template #detalleAlbum>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <div class="card">
              <div class="card-header">
               <h4><strong>{{selectedAlbum.titulo}}</strong>
                  <button class="btn btn-sm btn-danger float-right" (click)="unselectAlbum()"><i class="fas fa-times"></i></button>
                </h4>
              </div>
              <div class="card-body">
                <p class="card-text" style="text-align: justify;">{{selectedAlbum.descripcion}}</p>
                <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="5">
                  <ng-template pTemplate="item" let-item>
                      <img [src]="item.previewImageSrc" style="max-width: 500px; width: 100%; object-fit: contain;" />
                  </ng-template>
                  <ng-template pTemplate="thumbnail" let-item>
                      <div class="p-grid p-nogutter d-flex justify-content-center">
                          <img [src]="item.thumbnailImageSrc" style="width: 60%;"/>
                      </div>
                  </ng-template>
              </p-galleria>
              </div>
          </div>
        </div>
      </div>
    </ng-template>
</div>
<a id="contacto">
    <app-footer-web></app-footer-web>
</a>
