<app-menu-web></app-menu-web>
<div class="container">
  <app-user-streaming *ngIf="cliente && cliente.validado; else botonIniciar" [cliente]="cliente" (logoutCliente)="onLogout()"></app-user-streaming>
  <ng-template #botonIniciar>
    <div class="row">
      <div class="col-12">
         <button #iniciarSesion class="custom-btn btn-5" data-toggle="modal" data-target="#loginModal"><i class="fas fa-sign-in-alt"></i><span>  Iniciar Sesion</span></button>
      </div>
     </div>
    <app-cartelera (realizarCompra)="realizarCompra($event)"></app-cartelera>
  </ng-template>
</div>
<a id="contacto">
  <app-footer-web></app-footer-web>
</a>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.9);">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header"> <button #close type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>
        <div class="modal-body p-0 row" style="background-color: #111; color: white; border-radius: 10px;">
            <div class="col-12 col-lg-4 ad p-0">
              <img style="object-fit: cover; border-radius: 10px;" src="https://scontent.faep8-2.fna.fbcdn.net/v/t1.0-9/126319648_995320187626844_7014907967565728578_o.jpg?_nc_cat=104&ccb=2&_nc_sid=a26aad&_nc_ohc=-IQGoRx-7X8AX8RRhTB&_nc_ht=scontent.faep8-2.fna&oh=3aebd99350fbead8dfc77b442c974625&oe=5FE6FEA6" width="100%" height="100%" />
            </div>
            <div class="details col-12 col-lg-8">
              <div class="d-flex justify-content-center">
                <ul class="nav nav-pills nav-fill" style="font-family: 'Fjalla One', sans-serif;">
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': mostrar === 'inicio'}" (click)="toggle('inicio')">Iniciar Sesion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': mostrar === 'registro'}" (click)="toggle('registro')">Registrarse</a>
                  </li>
                </ul>
              </div>
              <ng-container *ngIf="mostrar === 'inicio'">
                <div class="form-group mt-3">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" placeholder="email@ejemplo.com" [(ngModel)]="model.email">
                </div>
                <div class="form-group mb-2">
                  <label for="email">Contraseña</label>
                  <input type="password" class="form-control" [(ngModel)]="model.password">
                </div>
                <div class="row">
                  <div class="col float-right">
                    <a href="">Olvidé mi contraseña</a>
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                  <button class="btn btn-success btn-sm rounded" (click)="iniciarSesion()"
                  [disabled]="!model.email || !model.password"><i class="fas fa-check"></i> Iniciar</button>
                </div>
              </ng-container>
              <ng-container *ngIf="mostrar === 'registro'">
                <div class="row d-flex justify-content-center mt-3">
                  <div class="col-lg-6">
                    <div class="form-group mt-2">
                      <label for="email">Nombre</label>
                      <input type="text" class="form-control" placeholder="nombre" [(ngModel)]="modelRegistro.nombre">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group mt-2 mr-2">
                      <label for="email">Apellido</label>
                      <input type="text" class="form-control" placeholder="apellido" [(ngModel)]="modelRegistro.apellido">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group mt-2">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" placeholder="email@ejemplo.com" [(ngModel)]="modelRegistro.email">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group mt-2 mr-2">
                      <label for="email">Contraseña</label>
                      <input type="password" class="form-control" [(ngModel)]="modelRegistro.password">
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                  <button class="btn btn-success btn-sm rounded" (click)="registrarCliente()"
                  [disabled]="!modelRegistro.nombre || !modelRegistro.apellido || !modelRegistro.email || !modelRegistro.password"><i class="fas fa-user-plus"></i> Confirmar</button>
                </div>
              </ng-container>
              <ng-container *ngIf="mostrar === 'validacion'">
                <h4><strong> Ud. debe validar la cuenta</strong></h4>
                <p>Revise su casilla de mail y copie el código de activación.</p>
                <div class="form-group mt-3">
                  <label for="codigo">Código de Validación</label>
                  <input type="text" class="form-control" [(ngModel)]="modelValidacion.codigo">
                </div>
                <div class="d-flex justify-content-center mt-4">
                  <button class="btn btn-success btn-sm rounded" (click)="validarCuenta()"
                  [disabled]="!modelValidacion.codigo">
                  <i class="fas fa-check"></i> Validar</button>
                </div>
              </ng-container>
            </div>
      </div>
    </div>
  </div>
</div>
