.buttonContainer {
  align-items: center;
  background-color: #F50E9D !important;
  justify-content: center;
  height: 50;
  margin-top: 5;
  border-radius: 5px;
}
.primary {
  color: #F50E9D !important;
  border: 0;
}
.secondary {
  color: #71C8D0 !important;
  border: 0;
}
.clicked {
  color: #63093C !important;
  border: 0;
}
