@import url(../../variables.less);

.buttonContainer {
    align-items: center;
    background-color: @mainPink !important;
    justify-content: center;
    height: 50;
    margin-top: 5;
    border-radius: 5px;
}

.primary {
    color: @mainPink !important;
    border: 0;
  }

  .secondary {
    color: @mainLightBlue !important;
    border: 0;
  }

  .clicked {
    color: @secondaryPink !important;
    border: 0;
  }