<div class="fixed-nav sticky-footer bg-dark" id="page-top">
    <app-admin-navigation></app-admin-navigation>
    <div class="content-wrapper">
        <div class="container-fluid">
            <h1 class="titulo-admin"> Actividades</h1>
            <div class="row" style="margin-bottom: 2%;">
              <div class="col-6">
                  <p-card header="Actividades">
                      <p-header>
                          <button type="button" class="mt-3 mr-3 float-right btn btn-sm btn-primary" [disabled]="edit" (click)="onAdd()">
                              <i class="fas fa-plus"></i> Agregar
                          </button>
                      </p-header>
                      <p-table [value]="actividades" selectionMode="single" [(selection)]="selectedActividad" dataKey="_id">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th *ngFor="let col of cols">
                                      {{col.header}}
                                  </th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-actividad>
                              <tr [pSelectableRow]="actividad">
                                  <td *ngFor="let col of cols">
                                      <div *ngIf="actividad[col.field] && col.field !== 'imagen'">
                                          {{actividad[col.field]}}
                                      </div>
                                  </td>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                              <tr>
                                  <td [attr.colspan]="actividades.length">
                                      No hay actividades cargadas
                                  </td>
                              </tr>
                          </ng-template>
                      </p-table>
                  </p-card>
              </div>
              <div class="col-6">
                  <p-card [header]="(add) ? 'Agregar Actividad' : 'Detalle Actividad'" [style]="{ 'min-height': '450px' }">
                      <p-header *ngIf="selectedActividad && !add">
                          <ng-container *ngIf="!edit" >
                              <button type="button" (click)="deleteActividad()" class="mt-3 mr-3 float-right btn btn-sm btn-danger">
                                  <i class="fas fa-trash"></i> Eliminar
                              </button>
                              <button type="button" class="mt-3 mr-1 float-right btn btn-sm btn-warning" (click)="toggleEdit()">
                                  <i class="fas fa-pencil-alt"></i> Editar
                              </button>
                          </ng-container>
                          <ng-container *ngIf="edit">
                              <button  type="button" class="mt-3 mr-3 float-right btn btn-sm btn-danger" (click)="toggleEdit()">
                                  <i class="fas fa-times"></i> Cancelar
                              </button>
                              <button type="button" class="mt-3 mr-1 float-right btn btn-sm btn-success" (click)="updateActividad()">
                                  <i class="fas fa-check"></i> Confirmar
                              </button>
                          </ng-container>
                      </p-header>
                      <p-header *ngIf="!selectedActividad && add">
                          <button type="button" class="mt-3 mr-3 float-right btn btn-sm btn-danger" (click)="add = false;">
                              <i class="fas fa-times"></i> Cancelar
                          </button>
                          <button type="button" class="mt-3 mr-1 float-right btn btn-sm btn-success" (click)="save()"
                          [disabled]="!model.nombre || !model.edad || !model.horarios || !model.precios">
                              <i class="fas fa-check"></i> Confirmar
                          </button>
                      </p-header>
                      <ng-container *ngIf="!selectedActividad && !add">
                          <i class="fas fa-hand-point-left"></i> Elija una actividad para ver detalle
                      </ng-container>
                      <ng-container *ngIf="selectedActividad && !add">
                          <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Nombre</label>
                                  <input type="text" class="form-control" pInputText [(ngModel)]="selectedActividad.nombre" name="nombre"/>
                                </div>
                                <div class="form-group">
                                  <label>Edades</label>
                                  <input type="text" class="form-control" pInputText [(ngModel)]="selectedActividad.edad" name="edad"/>
                                </div>
                                <div class="form-group">
                                  <label>Cupo (opcional)</label>
                                  <input type="text" class="form-control" pInputText [(ngModel)]="selectedActividad.cupo" name="cupo"/>
                                </div>
                                <div class="form-group">
                                  <label>Duración (opcional)</label>
                                  <input type="text" class="form-control" pInputText [(ngModel)]="selectedActividad.duracion" name="duracion"/>
                                </div>
                                <div class="form-group">
                                  <h6>Horarios
                                    <ng-container *ngIf="edit">
                                      <button *ngIf="!addHorario" [disabled]="!selectedActividad.horarios || selectedActividad.horarios.length < 1" class="btn btn-sm btn-danger float-right" (click)="selectedActividad.horarios.pop()"><i class="fas fa-trash"></i></button>
                                      <button *ngIf="!addHorario" class="btn btn-sm btn-primary float-right mr-1" (click)="addHorario = true"><i class="fas fa-plus"></i></button>
                                      <button *ngIf="addHorario" class="btn btn-sm btn-danger float-right" (click)="addHorario = false"><i class="fas fa-times"></i></button>
                                      <button *ngIf="addHorario" class="btn btn-sm btn-success float-right mr-1" [disabled]="!dia || !hora" (click)="onAddHorario()"><i class="fas fa-check"></i></button>
                                    </ng-container>
                                  </h6>
                                  <ng-container *ngIf="addHorario">
                                    <label for="horario">Nuevo Horario:</label>
                                    <input type="text" class="form-control" placeholder="dia - ejemplo: lunes" pInputText [(ngModel)]="dia" name="dia"/>
                                    <input type="text" class="form-control" placeholder="hora - ejemplo: 14:30" pInputText [(ngModel)]="hora" name="hora"/>
                                  </ng-container>
                                  <ng-container *ngIf="selectedActividad.horarios">
                                    <ul>
                                      <li *ngFor="let horario of selectedActividad.horarios">
                                        {{horario.dia}} {{horario.hora}}
                                      </li>
                                    </ul>
                                  </ng-container>
                                </div>
                                <div class="form-group">
                                  <h6>Precios
                                    <ng-container *ngIf="edit">
                                      <button *ngIf="!addPrecio" [disabled]="!selectedActividad.precios || selectedActividad.precios.length < 1" class="btn btn-sm btn-danger float-right" (click)="selectedActividad.precios.pop()"><i class="fas fa-trash"></i></button>
                                      <button *ngIf="!addPrecio" class="btn btn-sm btn-primary float-right mr-1" (click)="addPrecio = true"><i class="fas fa-plus"></i></button>
                                      <button *ngIf="addPrecio" class="btn btn-sm btn-danger float-right" (click)="addPrecio = false"><i class="fas fa-times"></i></button>
                                      <button *ngIf="addPrecio" class="btn btn-sm btn-success float-right mr-1" [disabled]="!inscripcion || !cuotaMensual" (click)="onAddPrecio()"><i class="fas fa-check"></i></button>
                                    </ng-container>
                                  </h6>
                                  <ng-container *ngIf="addPrecio">
                                    <label for="horario">Nuevo Precio:</label>
                                    <input type="number" class="form-control" placeholder="precio inscripcion" [(ngModel)]="inscripcion" name="inscripcion"/>
                                    <input type="number" class="form-control" placeholder="precio de cuota mensual" [(ngModel)]="cuotaMensual" name="cuotaMensual"/>
                                    <input type="text" class="form-control" placeholder="descripcion opcional - ejemplo: Primer año" pInputText [(ngModel)]="descripcion" name="descripcion"/>
                                  </ng-container>
                                  <ng-container *ngIf="selectedActividad.precios">
                                    <ul>
                                      <li *ngFor="let precio of selectedActividad.precios">
                                        {{(precio.descripcion) ? precio.descripcion + ': ' : ''}} inscripcion: {{precio.inscripcion | currency: 'ARS'}} - cuota: {{precio.cuotaMensual | currency: 'ARS'}}
                                      </li>
                                    </ul>
                                  </ng-container>
                                </div>
                              </div>
                          </div>
                          <h6>
                            Imagen
                          </h6>
                          <div class="row" *ngIf="edit">
                            <div class="col">
                              <p-fileUpload accept="image/*" multiple="true" maxFileSize="4000000" name="imagenes[]"
                              chooseLabel="" uploadLabel="" cancelLabel="" customUpload="true"
                              (uploadHandler)="myUploader($event)"></p-fileUpload>
                            </div>
                          </div>
                          <div class="row mt-2 p-2">
                              <div class="col d-flex justify-content-center">
                                  <img *ngIf="selectedActividad.imagen"
                                  class="mr-2" src="../../../../assets/img/actividades/{{selectedActividad.imagen}}"
                                  style="max-height: 120px; object-fit: contain;" alt="">
                              </div>
                          </div>
                      </ng-container>
                      <ng-container *ngIf="!selectedActividad && add">
                          <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Nombre</label>
                                  <input type="text" class="form-control" placeholder="nombre de actividad" pInputText [(ngModel)]="model.nombre" name="nombre"/>
                                </div>
                                <div class="form-group">
                                  <label>Edades</label>
                                  <input type="text" class="form-control" placeholder="rango de edad - ejemplo: De 10 a 15 años" pInputText [(ngModel)]="model.edad" name="edad"/>
                                </div>
                                <div class="form-group">
                                  <label>Cupo (opcional)</label>
                                  <input type="text" placeholder="ejemplo: 12 alumnos" class="form-control" pInputText [(ngModel)]="model.cupo" name="cupo"/>
                                </div>
                                <div class="form-group">
                                  <label>Duración (opcional)</label>
                                  <input type="text" placeholder="ejemplo: 3 años" class="form-control" pInputText [(ngModel)]="model.duracion" name="duracion"/>
                                </div>
                                <div class="form-group">
                                  <h6>Horarios
                                    <button *ngIf="!addHorario" [disabled]="!model.horarios || model.horarios.length < 1" class="btn btn-sm btn-danger float-right" (click)="model.horarios.pop()"><i class="fas fa-trash"></i></button>
                                    <button *ngIf="!addHorario" class="btn btn-sm btn-primary float-right mr-1" (click)="addHorario = true"><i class="fas fa-plus"></i></button>
                                    <button *ngIf="addHorario" class="btn btn-sm btn-danger float-right" (click)="addHorario = false"><i class="fas fa-times"></i></button>
                                    <button *ngIf="addHorario" class="btn btn-sm btn-success float-right mr-1" [disabled]="!dia || !hora" (click)="onAddHorario()"><i class="fas fa-check"></i></button>
                                  </h6>
                                  <ng-container *ngIf="addHorario">
                                    <label for="horario">Nuevo Horario:</label>
                                    <input type="text" class="form-control" placeholder="dia - ejemplo: Lunes" pInputText [(ngModel)]="dia" name="dia"/>
                                    <input type="text" class="form-control" placeholder="hora - ejemplo: 14:30  a 15:30" pInputText [(ngModel)]="hora" name="hora"/>
                                  </ng-container>
                                  <ng-container *ngIf="model.horarios">
                                    <ul>
                                      <li *ngFor="let horario of model.horarios">
                                        {{horario.dia}} {{horario.hora}}
                                      </li>
                                    </ul>
                                  </ng-container>
                                </div>
                                <div class="form-group">
                                  <h6>Precios
                                    <button *ngIf="!addPrecio" [disabled]="!model.precios || model.precios.length < 1" class="btn btn-sm btn-danger float-right" (click)="model.precios.pop()"><i class="fas fa-trash"></i></button>
                                    <button *ngIf="!addPrecio" class="btn btn-sm btn-primary float-right mr-1" (click)="addPrecio = true"><i class="fas fa-plus"></i></button>
                                    <button *ngIf="addPrecio" class="btn btn-sm btn-danger float-right" (click)="addPrecio = false"><i class="fas fa-times"></i></button>
                                    <button *ngIf="addPrecio" class="btn btn-sm btn-success float-right mr-1" [disabled]="!inscripcion || !cuotaMensual" (click)="onAddPrecio()"><i class="fas fa-check"></i></button>
                                  </h6>
                                  <ng-container *ngIf="addPrecio">
                                    <label for="horario">Nuevo Precio:</label>
                                    <input type="number" class="form-control" placeholder="precio inscripcion" [(ngModel)]="inscripcion" name="inscripcion"/>
                                    <input type="number" class="form-control" placeholder="precio de cuota mensual" [(ngModel)]="cuotaMensual" name="cuotaMensual"/>
                                    <input type="text" class="form-control" placeholder="descripcion opcional - ejemplo: Primer año" pInputText [(ngModel)]="descripcion" name="descripcion"/>
                                  </ng-container>
                                  <ng-container *ngIf="model.precios">
                                    <ul>
                                      <li *ngFor="let precio of model.precios">
                                        {{(precio.descripcion) ? precio.descripcion + ': ' : ''}} inscripción: {{precio.inscripcion | currency: 'ARS'}} - Cuota: {{precio.cuotaMensual | currency: 'ARS'}}
                                      </li>
                                    </ul>
                                  </ng-container>
                                </div>
                              </div>
                          </div>
                      </ng-container>
                  </p-card>
              </div>
          </div>
        </div>
    </div>
  </div>

  <p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="'center'" [baseZIndex]="10000"
acceptLabel="Eliminar" rejectLabel="Cancelar"></p-confirmDialog>
