<div class="wrap">
  <div class="popcorn">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="titulo">
            BOLETERIA
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 d-flex justify-content-center">
          <!-- fieldsets -->
          <div class="card" style="width: 60rem;">
            <div class="card-body">
              <ng-container *ngIf="estado === 'approved'; else pendiente">
                <div class="row">
                  <div class="col" style="text-align: center;">
                    <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-256.png" alt="success">
                    <h2 style="color: green;">PAGO APROBADO</h2>
                    <p>Su pago ha sido aprobado, en breve le enviaremos las entradas del show.</p>
                </div>
              </div>
              </ng-container>
              <ng-template #pendiente>
                <div class="row">
                  <div class="col" style="text-align: center;">
                    <img src="https://cdn4.iconfinder.com/data/icons/the-weather-is-nice-today/64/weather_48-256.png" alt="warning">
                    <h2 style="color: orange;">PAGO PENDIENTE</h2>
                    <p>Su pago ha quedado pendiente, comuníquese con nosotros y le enviaremos las entradas cuando el pago esté aprobado.</p>
                </div>
              </div>
              </ng-template>
              <div class="row d-flex justify-content-center">
                <button class="btn btn-dark" style="background-color: #FC01A0;" (click)="volver()">Volver</button>
              </div>
          </div>
        </div>
          </div>
        </div>
    </div>
  </div>
</div>
