 <div class="row">
   <div class="col-12">
     <nav class="navbar navbar-expand-lg rounded navbar-dark" style="background: #111; font-family: 'Fjalla One', sans-serif !important;">
       <a class="navbar-brand">
         <img width="15%" src="https://cdn1.iconfinder.com/data/icons/instagram-ui-colored/48/JD-17-256.png" alt="cliente icono">
         {{cliente.nombre}} {{cliente.apellido}}
       </a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav">
           <a class="nav-item nav-link rounded" [ngClass]="{'active': mostrarCliente === 'inicio'}" (click)="goTo('inicio')">Inicio <span class="sr-only">(current)</span></a>
           <a class="nav-item nav-link rounded" [ngClass]="{'active': mostrarCliente === 'entradas'}" (click)="goTo('entradas')">Mis Entradas</a>
         </div>
       </div>
       <span class="navbar-text">
         <button class="btn btn-sm rounded btn-danger" (click)="logout()">
           <i class="fas fa-sign-out-alt"></i>
         </button>
       </span>
     </nav>
   </div>
 </div>
 <ng-container *ngIf="mostrarCliente == 'entradas'">
   <div class="d-flex justify-content-center">
     <div class="titulo">
         MIS ENTRADAS
     </div>
   </div>
   <ng-container *ngIf="entradas; else sinEntradas">
   <div class="row d-flex justify-content-center">
     <div class="col d-flex justify-content-center" *ngFor="let entrada of entradas">
       <div class="card" style="width: 18rem;">
         <img class="card-img-top" src="../../../../assets/img/shows/{{entrada.idShow.imagen}}" alt="Card image cap">
         <div class="card-body" style="text-align: center;">
           <h5 class="card-title">{{entrada.idShow.nombre}}</h5>
           <div class="row">
             <div class="col">
               <strong style="color: blue;">Válida Desde </strong>
             </div>
             <div class="col">
               <strong style="color: red;">Válida hasta </strong>
             </div>
           </div>
           <div class="row">
             <div class="col">
               {{entrada.inicio | date: 'medium'}}
             </div>
             <div class="col">
               {{entrada.fin | date: 'medium'}}
             </div>
           </div>
           <p class="card-text">{{entrada.idShow.descripcion}}</p>
             <div *ngIf="entrada.situacion === 'habilitada'" style="text-align: center">
               <button (click)="verShow(entrada.idShow._id)" class="btn btn-dark" style="background: #FC01A0;"><i class="fas fa-film"></i> Ver Show</button>
             </div>
             <div *ngIf="entrada.situacion === 'vencida'" style="text-align: center">
               <button class="btn btn-dark"><i class="fas fa-clock"></i> Vencida</button>
             </div>
             <ng-div *ngIf="entrada.situacion === 'espera'" style="text-align: center">
              <button class="btn btn-dark"><i class="fas fa-clock"></i> En espera</button>
            </ng-div>
         </div>
       </div>
     </div>
      </div>
    </ng-container>
    <ng-template #sinEntradas>
      <div class="row d-flex justify-content-center mt-3">
          <img class="d-block" src="https://cdn0.iconfinder.com/data/icons/emoji-3-5/64/scared_smiley_surprised-256.png" width="5%" alt="surprised icon">
          <h4 class="d-block mt-3 ml-3" style="color: pink;"> No tienes entradas activas</h4>
      </div>
    </ng-template>
  </ng-container>
 <ng-container *ngIf="mostrarCliente == 'inicio'">
  <app-cartelera (realizarCompra)="realizarCompra($event)"></app-cartelera>
 </ng-container>

 <!-- maroprgich@yahoo.com.ar -- Annalucia123 -->
 <!-- maroprgich@yahoo.com.ar -- Cantovoces123 -->
