  <ng-container *ngIf="showsEstreno">
    <div class="d-flex justify-content-center">
      <div class="titulo">
          ESTRENOS
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12" *ngIf="showsEstreno && showsEstreno.length > 0">
        <div id="carouselExampleIndicators3" class="carousel slide mb-2" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let estreno of showsEstreno; index as i">
                <img class="d-block w-100" src="../../../../assets/img/shows/{{estreno.imagen}}" alt="{{estreno.imagen}}" (click)="onRealizarCompra(estreno)">
              </div>
            </div>
            <a class="carousel-control-prev" style="padding-left: 8%" href="#carouselExampleIndicators3" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" style="padding-right: 8%" href="#carouselExampleIndicators3" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="d-flex justify-content-center" style="margin-top: 1%">
    <div class="titulo">
      CARTELERA
    </div>
  </div>
  <ng-container *ngIf="!selectedShow; else detalleShow">
    <div class="row d-flex justify-content-center">
      <div class="col d-flex justify-content-center mb-4" *ngFor="let show of allShows">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="../../../../assets/img/shows/{{show.imagen}}" alt="Card image cap">
          <div class="card-body">
            <h5 *ngIf="show.estado.nombre === 'Estreno'" class="card-title" style="text-align: center;"><i style="color: gold;" class="fas fa-star"></i> {{show.nombre}} <i style="color: gold;" class="fas fa-star"></i></h5>
            <h5 *ngIf="show.estado.nombre !== 'Estreno'" class="card-title" style="text-align: center;">{{show.nombre}}</h5>
            <div class="d-flex justify-content-center">
              <button (click)="actionShow(show)" class="btn btn-{{show.estado.color}}"><i class="fas fa-ticket-alt"></i> {{(show.estado.nombre === 'Gratis') ? 'Ver show' : 'Comprar'}}</button>
              <button (click)="verDetalle(show)" class="ml-1 btn btn-sm rounded btn-info"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #detalleShow>
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <div class="card" style="width: 80vw;">
          <div class="card-header" style="text-align: center;">
            <h2 *ngIf="selectedShow.estado.nombre === 'Estreno'"><i class="fas fa-star" style="color: gold;"></i> {{selectedShow.nombre}} <i class="fas fa-star" style="color: gold;"></i>
              <button class="btn btn-sm btn-danger float-right" (click)="unselect()"><i class="fas fa-times"></i></button>
            </h2>
            <h2 *ngIf="selectedShow.estado.nombre !== 'Estreno'">{{selectedShow.nombre}}
            <button class="btn btn-sm btn-danger float-right" (click)="unselect()"><i class="fas fa-times"></i></button>
            </h2>
          </div>
          <div class="card-body">
            <p style="text-align: justify;">
              {{selectedShow.descripcion}}
            </p>
            <p class="card-text" style="text-align:justify" [innerHTML]="selectedShow.repertorio">
            <div style="text-align: center;">
              <img src="../../../../assets/img/shows/{{selectedShow.imagen}}" style="width: 40vw !important;" alt="Card image cap">
            </div>
        </div>
        </div>
      </div>
    </div>
      <div class="row d-flex justify-content-center mt-3">
      <div class="col d-flex justify-content-center mb-4" *ngFor="let show of allShows">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="../../../../assets/img/shows/{{show.imagen}}" alt="Card image cap">
          <div class="card-body">
            <h5 *ngIf="show.estado.nombre === 'Estreno'" class="card-title" style="text-align: center;"><i style="color: gold;" class="fas fa-star"></i> {{show.nombre}} <i style="color: gold;" class="fas fa-star"></i></h5>
            <h5 *ngIf="show.estado.nombre !== 'Estreno'" class="card-title" style="text-align: center;">{{show.nombre}}</h5>
            <p class="card-text">{{show.descripcion}}</p>
            <div class="d-flex justify-content-center">
              <button (click)="actionShow(show)" class="btn btn-{{show.estado.color}}"><i class="fas fa-ticket-alt"></i> {{(show.estado.nombre === 'Gratis') ? 'Ver show' : 'Comprar'}}</button>
              <button (click)="verDetalle(show)" class="ml-1 btn btn-sm rounded btn-info"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
